@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Mina&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mina";
  max-width: 100%;
}

:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
}

h2,
h3,
h4,
h5,
.logo {
  font-weight: 600 !important;
  color: var(--success);
}

body {
  height: 2200px;
}

/*** Topbar Start ***/
.fixed-top {
  transition: 0.5s;
  border: 0;
}

.topbar {
  padding: 20px;
  border-radius: 230px 100px;
  background-color: var(--success);
}

.topbar .top-info {
  font-size: 15px;
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .top-link {
  font-size: 15px;
  line-height: 0;
  display: flex;
  align-items: center;
}

.topbar .top-info a,
.topbar .top-link a {
  letter-spacing: 1px;
  color: var(--light);
}

/*** Topbar End ***/

/* Navbar Start */
.header {
  background-color: var(--light);
}

ul li a,
.nav-link,
.dropdown-menu a {
  color: var(--success);
  font-size: 20px;
}

ul li a:hover,
.nav-link:hover,
.dropdown-menu a:hover {
  color: var(--secondary);
}

/* Navbar End */

/* Hero Start */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://food.unl.edu/newsletters/images/fruit-and-veggie-rainbow.jpg");
  background-size: cover;
}

.text {
  color: var(--light);
  font-size: 100px;
  font-weight: bolder;
  text-shadow: 5px 2px var(--danger);
}

.input-box {
  position: relative;
  width: 50%;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 15px;
  color: var(--success);
}

.form-control {
  height: 50px;
  background-color: var(--light);
}

.form-control:focus {
  background-color: var(--light);
}

/* Small Carousel */

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--success);
  height: 30px;
  width: 30px;
  margin: auto 200px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 60%;
  height: 50%;
  border-radius: 10px;
}

/* @media screen and (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    background-color: var(--success);
    height: 30px;
    width: 30px;
    margin: auto 50px;
  }

  .carousel-item img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
} */

.carousel-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-decoration: none;
  color: var(--light);
  background-color: rgba(43, 43, 43, 0.5);
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

/* Fact */
.card img {
  width: 100%;
  height: 250px;
}