@media screen and (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    background-color: var(--success);
    height: 30px;
    width: 30px;
    margin: auto 50px;
  }

  .carousel-item img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
}